body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    width: 584px;
    height: 877px;
    border: 3px solid red;

}

.mood {
    width: 1rem;
    margin-left: 43px;
    margin-top: 30px;
    /* object-fit: cover; */
}

.box {
    display: flex;
    flex-wrap: wrap;
    /* 가로가 차면 밑으로 내려 주는 역할 */
    justify-content: center;
    margin-top: 30px;
    align-items: center;
}
.character {
   border-radius: 10px;
    width: 180px;
    height: 200px;
    margin: 10px 0 0 10px;
}
.contain {
    margin: 20px;
    border-radius: 10px;
    background-color: rgb(255, 192, 203);
    width: 200px;
    height: 290px;
}

.content {
    margin: 10px 0 0 10px;

}

#main {
    margin-top: 20px;
    margin-left: 270px;
}

.ad {
    border: 3px solid lightblue;
    width: 573px;
    height: 110px;
    background-color: lightblue;
    margin-top: 50px;
}
