.progressContainer {
  width: 50%;
  background-color: rgb(231, 231, 231);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin: 0 auto;
  position: relative;
}

.bar_1 {
  width: 10%;
  background-color: #143196;
  color: #fff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  text-align: center;
  margin-top: 15px;
  font-weight: 400;
}

.bar_2 {
  width: 20%;
  background-color: #143196;
  color: #fff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  text-align: center;
  margin-top: 15px;
  font-weight: 400;
}

.bar_3 {
  width: 30%;
  background-color: #143196;
  color: #fff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  text-align: center;
  margin-top: 15px;
  font-weight: 400;
}

.bar_4 {
  width: 40%;
  background-color: #143196;
  color: #fff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  text-align: center;
  margin-top: 15px;
  font-weight: 400;
}

.bar_5 {
  width: 50%;
  background-color: #143196;
  color: #fff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  text-align: center;
  margin-top: 15px;
  font-weight: 400;
}

.bar_6 {
  width: 60%;
  background-color: #143196;
  color: #fff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  text-align: center;
  margin-top: 15px;
  font-weight: 400;
}

.bar_7 {
  width: 70%;
  background-color: #143196;
  color: #fff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  text-align: center;
  margin-top: 15px;
  font-weight: 400;
}

.bar_8 {
  width: 80%;
  background-color: #143196;
  color: #fff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  text-align: center;
  margin-top: 15px;
  font-weight: 400;
}

.bar_9 {
  width: 90%;
  background-color: #143196;
  color: #fff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  text-align: center;
  margin-top: 15px;
  font-weight: 400;
}

.bar_10 {
  width: 100%;
  background-color: #143196;
  color: #fff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  text-align: center;
  margin-top: 15px;
  font-weight: 400;
}

.cheersImgContainer {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}

#cheersImg {
  width: 90px;
  height: 100px;
  margin: -40px;
  margin-left: 650px;
}
