body {
  text-align: center;
}

#centerWrap {
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
}

#mainImage {
  width: 434px;
  height: 251px;
}

.questionWrapper {
  width: 100%;
  margin: 10px auto;
  position: relative;
}

#questionTheme {
  width: 1000px;
  height: 200px;
  vertical-align: middle;
}

#questionNumber {
  position: absolute;
  top: 17%;
  left: 50%;
  color: white;
  font-size: 22px;
}

#question_01 {
  position: absolute;
  top: 55%;
  left: 32%;
}

#question_01 span {
  font-family: "Nanum Pen Script", cursive;
  font-size: 35px;
}

.choicesWrapper {
  display: flex;
  justify-content: center;
}

.choices {
  position: relative;
  border: 3px solid grey;
  border-radius: 50%;
  margin: 20px;
  width: 300px;
  height: 300px;
}

.choicesImg {
  width: 100px;
  height: 100px;
}

#kimchi {
  width: 100px;
  height: 100px;
}

#miso {
  width: 100px;
  height: 100px;
}
